body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #a741ff 0%, #5480fd 100%);
}

body[data-theme="dark"] {
  background: #fff;
}

.container {
  margin: 0 auto;
  width: 500px;
  padding-left: 0px;
  padding-right: 0px;
}

.app {
  min-height: calc(100vh - 177px);
}
.fullscreen0 {
  margin: 10px auto;
  position: relative;
  width: 500px;
  height: 500px;
}

.game-container {
  margin: 10px auto;
  position: relative;
  width: 500px;
  max-width: 500px;
  height: 500px;
  position: relative;
  padding: 16px;

  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0px 14px 30px -9px rgb(0 0 0 / 74%);
}

@media (max-width: 520px) {
  .game-container {
    width: 450px;
    height: 450px;
    max-width: 450px;
  }
}

.modal,
.modal-open {
  padding-right: 0 !important;
}

.modal-content {
  box-shadow: inset 0 0 2em rgb(255 0 255 / 80%), 0 0 1em rgb(255 0 255 / 50%);
}

.modal-content.dark {
  box-shadow: inset 0 0 2em rgb(0 0 0 / 80%), 0 0 1em rgb(0 0 0 / 50%);
}

.fullscreen-enabled .game-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  text-align: center;
}

.game-container .fullscreen-btn {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;
  border-radius: 3px;
  opacity: 0.7;
}

.fullscreen-btn .bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.game-container:hover .fullscreen-btn {
  display: block;
}

.modal-body div {
  margin: 0 auto;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.dark .modal-body div {
  background-image: url("../../assets/unicorns/28f6c9729f5570d49376a0acc6345449.jpg");
}

.primary .modal-body div {
  background-image: url("../../assets/unicorns/ee523b3298bd7e63eb7484f49e0aa7ae.jpg");
}

.primary .modal-body h4,
.primary .modal-title {
  color: #593196;
}
