.tile-container {
  position: absolute;
  z-index: 2;
}

.tile {
  width: 105px;
  height: 105px;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 55px;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
  background-size: cover;
}

.dark .tile {
  border: 1px solid white;
}

.tile.tile-position-1-1,
.tile img {
  position: absolute;
  left: 0px;
  top: 0px;
}

.tile img {
  border-radius: 3px;
}

.tile.tile-position-1-2 {
  position: absolute;
  left: 0px;
  top: 120px;
}

.tile.tile-position-1-3 {
  position: absolute;
  left: 0px;
  top: 240px;
}

.tile.tile-position-1-4 {
  position: absolute;
  left: 0px;
  top: 360px;
}

.tile.tile-position-2-1 {
  position: absolute;
  left: 121px;
  top: 0px;
}

.tile.tile-position-2-2 {
  position: absolute;
  left: 121px;
  top: 120px;
}

.tile.tile-position-2-3 {
  position: absolute;
  left: 121px;
  top: 240px;
}

.tile.tile-position-2-4 {
  position: absolute;
  left: 121px;
  top: 360px;
}

.tile.tile-position-3-1 {
  position: absolute;
  left: 242px;
  top: 0px;
}

.tile.tile-position-3-2 {
  position: absolute;
  left: 242px;
  top: 120px;
}

.tile.tile-position-3-3 {
  position: absolute;
  left: 242px;
  top: 240px;
}

.tile.tile-position-3-4 {
  position: absolute;
  left: 242px;
  top: 360px;
}

.tile.tile-position-4-1 {
  position: absolute;
  left: 363px;
  top: 0px;
}

.tile.tile-position-4-2 {
  position: absolute;
  left: 363px;
  top: 120px;
}

.tile.tile-position-4-3 {
  position: absolute;
  left: 363px;
  top: 240px;
}

.tile.tile-position-4-4 {
  position: absolute;
  left: 363px;
  top: 360px;
}

.dark .tile.tile-2 {
  background-image: url("../../assets/unicorns/efb9621097484e1ff581d581ca9ef208.jpg");
}

.dark .tile.tile-4 {
  background-image: url("../../assets/unicorns/Y8eRG5W7nGs.jpg");
}

.dark .tile.tile-8 {
  background-image: url("../../assets/unicorns/28f6c9729f5570d49376a0acc6345449.jpg");
}

.dark .tile.tile-16 {
  background-image: url("../../assets/unicorns/8453b068e98833402242fe1014611cb2.jpg");
}

.dark .tile.tile-32 {
  background-image: url("../../assets/unicorns/2-1-200x200.jpg");
}

.dark .tile.tile-64 {
  background-image: url("../../assets/unicorns/EcMKiWnWoAY5bFi.jpg");
}

.dark .tile.tile-128 {
  background-image: url("../../assets/unicorns/бе-изна-черного-кота-87502767.jpg");
}

.dark .tile.tile-256 {
  background-image: url("../../assets/unicorns/75f99edf88a7cdbe842852a38c875244--assessment-top-ten.jpg");
}

.dark .tile.tile-512 {
  background-image: url("../../assets/unicorns/C8t7BHgXcAArZ79.jpg");
}

.dark .tile.tile-1024 {
  background-image: url("../../assets/unicorns/x2507197-754805690.png");
}

.dark .tile.tile-2048 {
  background-image: url("../../assets/unicorns/черные-котики12-768x918.jpg");
}

.tile.tile-2 {
  background-image: url("../../assets/unicorns/80a059f1b70693684f02e3d4ec6e0f34.jpg");
}

.tile.tile-4 {
  background-image: url("../../assets/unicorns/c7728bb8e3155a9ea663119ceb4e0308.jpg");
}

.tile.tile-8 {
  background-image: url("../../assets/unicorns/5d1c9107fc40fc2a189789d9d182d54a.jpg");
}

.tile.tile-16 {
  background-image: url("../../assets/unicorns/7cbdf51bb0842949226e2ab165aa3f3f.jpg");
}

.tile.tile-32 {
  background-image: url("../../assets/unicorns/0c38d4f131e2a5a7dab2ed7ee8e19ad4.jpg");
}

.tile.tile-64 {
  background-image: url("../../assets/unicorns/efdb4b2cfcec7b22b65c1d5eb0c18784.jpg");
}

.tile.tile-128 {
  background-image: url("../../assets/unicorns/bb8a97e063853ec11988cbfb0be318af.jpg");
}

.tile.tile-256 {
  background-image: url("../../assets/unicorns/4b8ff0b0559c32934d00a217b802e43c.jpg");
}

.tile.tile-512 {
  background-image: url("../../assets/unicorns/b525fd67b153599b13bfe4e00cd03a30.jpg");
}

.tile.tile-1024 {
  background-image: url("../../assets/unicorns/50b50c6a676bcee7734366fd679e0c66.jpg");
}

.tile.tile-2048 {
  background-image: url("../../assets/unicorns/ee523b3298bd7e63eb7484f49e0aa7ae.jpg");
}

.tile.tile-2 .tile-inner:after {
  content: "2" !important;
}

.tile.tile-4 .tile-inner:after {
  content: "4" !important;
}

.tile.tile-8 .tile-inner:after {
  content: "8" !important;
}

.tile.tile-16 .tile-inner:after {
  content: "16" !important;
}

.tile.tile-32 .tile-inner:after {
  content: "32" !important;
}

.tile.tile-64 .tile-inner:after {
  content: "64" !important;
}

.tile.tile-128 .tile-inner:after {
  content: "128" !important;
}

.tile.tile-256 .tile-inner:after {
  content: "256" !important;
}

.tile.tile-512 .tile-inner:after {
  content: "512" !important;
}

.tile.tile-1024 .tile-inner:after {
  content: "1024" !important;
}

.tile.tile-2048 .tile-inner:after {
  content: "2048" !important;
}

.tile-inner span {
  display: none;
}

.tile-inner:after {
  position: absolute;
  color: #593196;
  right: 0;
  font-size: 14px;
  line-height: 1;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  min-width: 24px;
  text-align: center;
  z-index: 100;
}
