.game-heading {
  justify-content: space-between;
  width: 500px !important;
  max-width: 500px !important;
  margin: 0 auto;
}

@media (max-width: 520px) {
  .game-heading {
    justify-content: space-between;
    width: 450px !important;
    max-width: 450px !important;
  }
}
.score-container {
  color: #fff;
}
.score-container .score,
.score-container .record {
  width: 80px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.options,
.options button {
  width: 100%;
}

.play {
  height: 56px;
}

.dark .play .btn {
  min-width: 112.3px;
}

.play .btn {
  min-width: 81.5px;
}
