.game-heading {
  justify-content: space-between;
  width: 500px !important;
  max-width: 500px !important;
  margin: 0 auto;
}

@media (max-width: 520px) {
  .game-heading {
    justify-content: space-between;
    width: 450px !important;
    max-width: 450px !important;
  }
}
.score-container {
  color: #fff;
}
.score-container .score,
.score-container .record {
  width: 80px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.options,
.options button {
  width: 100%;
}

.play {
  height: 56px;
}

.dark .play .btn {
  min-width: 112.3px;
}

.play .btn {
  min-width: 81.5px;
}

.options.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 25rem;
  background: #3e3e3e;
  box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.options .header {
  width: 100%;
  height: 3rem;
  padding-left: 2rem;
  background: linear-gradient(45deg, #ff512f, #dd2476);
  background-size: 300% 300%;
  color: #fff;
  clear: both;
  box-sizing: border-box;
  -webkit-animation: coolgrad 6s ease infinite;
  animation: coolgrad 6s ease infinite;
}
.options .header .fa {
  font-size: 1.4rem;
  height: 3rem;
  line-height: 3rem;
  float: left;
  -webkit-animation: spin 4s ease infinite;
  animation: spin 4s ease infinite;
}
.options .header .title {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  font-weight: bold;
  float: right;
  padding: 0 2rem 0 1rem;
  background: rgba(17, 17, 17, 0.35);
}
.options .header .title:after {
  content: "";
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-bottom: 3rem solid rgba(17, 17, 17, 0.2);
}
.options .header .title:before {
  content: "";
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-bottom: 3rem solid rgba(25, 25, 25, 0.2);
  border-right: 2rem solid rgba(25, 25, 25, 0.2);
}
.content-wrapper {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: calc(50%+4rem);
}
.content-wrapper .section {
  position: relative;
  height: 2rem;
  margin-bottom: 1rem;
  clear: both;
}
.content-wrapper .section label {
  float: left;
  height: 2rem;
  line-height: 2rem;
}
.content-wrapper .section input[type="checkbox"],
.content-wrapper .section select {
  float: right;
}
.content-wrapper .section input[type="checkbox"] {
  display: none;
}
.content-wrapper .section input[type="checkbox"] {
  display: inline-block;
  width: 1.2rem;
  height: 2rem;
  vertical-align: middle;
  background: red;
  cursor: pointer;
}
.content-wrapper .section select {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 4px;
  box-sizing: border-box;
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes coolgrad {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 26%;
  }
  100% {
    background-position: 0% 75%;
  }
}
@keyframes coolgrad {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 26%;
  }
  100% {
    background-position: 0% 75%;
  }
}
